@import url('variables.css');

/* *{outline: 1px solid #f00;} */
.card{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    place-items: center;
    /* - inset .cart before */
    width: calc(100vw - 16px);
    max-width: 600px;
    height: clamp(300px, 350px, 700px);
    aspect-ratio: 85.6 / 54;
    background: var(--bg-color);
    /* border-image: linear-gradient(45deg, navy, yellow); */
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card::before {
    content: "";
    position: absolute;
    inset: -8px; 
    background: repeating-linear-gradient(
        -45deg,
        black 0%,
        black 10%,
        yellow 10%,
        yellow 20%
    );
    z-index: -1; 
    border-radius: .5rem; 
}


.card .screw{
    position: absolute;
}

.card .screw0{
    top: 1rem;
    left: 1rem;
}

.card .screw1{
    top: 1rem;
    right: 1rem;
}

.card .screw2{
    bottom: 1rem;
    left: 1rem;
}

.card .screw3{
    bottom: 1rem;
    right: 1rem;
}

.title__card{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title-txt__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: .25rem;
    width: 100%;
}

.labour-type__card{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.brand-name__card{
    align-self: center;
    background: var(--black);
    color: var(--yellow-main);
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: 1.5rem;
    outline: 2px solid var(--red);

}
h1,
.labour-type__card span {
    color: var(--red);
    width: fit-content;
    text-align: center;
    font-size: clamp(.7rem, 1.15rem, 3rem);
    font-weight: 600;
    letter-spacing: .2rem;
    text-shadow: 1.5px 1.5px 0 #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 2px 0 #000;
}

/* desktop */

@media screen and (min-width: 460px) {
    h1,
    .labour-type__card span{
        font-size: clamp(.7rem, 2rem, 3rem);
    }
}

/* ul styles */

.materials-we-work__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* text-align: left; */
    width: 100%;
    /* max-width: 300px; */
    gap: .115rem;
    background: var(--black);
    color: var(--white-font);
    font-weight: 500;
    padding: 0 1rem;
    /* margin-left: -2.55rem; */
}

@media screen and (max-width: 320px) {
   .materials-we-work__card{
    margin-left: -.45rem;
    /* width: 300px; */
} 
}  

.material-item__card{
    list-style-type: '🔩';
}

.bottom__card{
    display: flex;
    justify-content: space-around;
    /* gap: 1rem; */
    width: 100%;
}

.location__card{
    display: flex;
    flex-direction: column;
}

.contact-info__card{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.whatsapp__card a,
.facebook__card a{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.whatsapp__card svg,
.facebook__card svg{
    transition: all .3s ease-in-out;
}

.whatsapp__card svg:hover,
.whatsapp__card svg:active,
.whatsapp__card svg:focus,
.facebook__card svg:hover,
.facebook__card svg:active,
.facebook__card svg:focus{
    transform: scale(1.1);
}

